/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{lang: "en"}
  / <![endif]
  %head
    %meta{charset: "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Untitled"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .sticky
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              %a{href: '/'}Collective Green SF
        %section.top-bar-section
          %ul.right
            %li.active.has-dropdown
              %a{href: "#"} OUR OFFERINGS
              %ul.dropdown
                %li
                  %a{href: "/meal-plan"} CUSTOM MEALS  
                %li
                  %a{href: "/services"} OTHER SERVICES
            %li.active
              %a{href: "/portfolio"} PORTFOLIO
            %li.active
              %a{href: "/blog"} BLOG
            %li.active
              %a{href: "/about"} OUR PHILOSOPHY
            %li.active
              %a{href: "/chefs"} CHEFS
          

    = yield
    %section.footer
      .row
        .large-4.columns#pad
          %span#twitter-icon
            %img{alt: "twitter-icon", height: "32", src: "twitter_icon.png", width: "32"}
          %span#facebook-icon
            %img{alt: "facebook-icon", height: "32", src: "facebook_icon.png", width: "32"}
          %span#insta-icon
            %img{alt: "instagram-icon", height: "32", src: "instagram_icon.png", width: "32"}
          %br
          %h3
            Collective Green SF
            %br
            8th and Brannan Street
            %br
            San Francisco, California
          %br
          %br
          %p
            © Collective Green 2013
        .large-4.columns#lower#left-pad
          %img#footer-plate{src: "footer_plate_icon.png"}
          %h4
            Lettuce Make Your Day!
        .large-4.columns
          %form#inquiry
            %input.name{placeholder: "Name", type: "text"}/
            %input.email{placeholder: "Email", type: "text"}/
            %input.company-size{placeholder: "Company Size", type: "text"}/
            %input.meals-per-week{placeholder: "Meals Per Week", type: "text"}/
            %button#grubbing{type: "submit"} Get Grubbin'!

    = javascript_include_tag "application"